{% extends "admin/base.html" %}
<!--  -->
{% block title %}公告管理{% endblock %}

<!--  -->
{% block head %} {{ super() }}
<style type="text/css">
.data {
	background-color: white;
	margin-top: -10px;
}

.announce {
	margin-top: 20px;
}

.data-head {
	margin-bottom: 10px;
}
font.announce-title{
	color:#428bca;
}
</style>
{% endblock %}


<!--  -->
{% block body %}
<div class="history-announce new-announce">
	<a href="{{url_for('admin_new')}}">
		<button type="button" class="btn btn-danger">发布公告</button>
	</a>
</div>
<h1 class="page-header">公告管理</h1>
<table class="table table-bordered">
	{% for announce in object_lists %} 
		{% if loop.index%2==0 %}
			<tr class="warning">
		{% else %}
			<tr>
		{% endif %}
		<td>
			<div class="data-head">
				<h4>
					<small>
						<i>{{announce.releaseTime.strftime('%Y年 %m月 %d日')}}&nbsp;&nbsp;&nbsp;</i>
						<a href="javascript:accordion('{{announce.announceNo}}')" class="detail-announce">详细信息</a>
						<a href="{{url_for('admin_edit',announceNo=announce.announceNo)}}" class="delete-announce">{{ '编辑公告及表格' if announce.sheetNo else '编辑公告'}}</a>
					</small>
					|&nbsp;&nbsp;&nbsp;
					<a href="javascript:accordion('{{announce.announceNo}}')"><font class="announce-title">{{announce.title}}</font></a>
				</h4>
			</div>

			<div id="{{announce.announceNo}}" class="data" hidden="hidden">
				<div class="bs-callout bs-callout-info">
					<div class="announce">{{announce.content}}</div>
					{% if announce.sheetNo %}
						<a href="{{url_for('admin_sheet',sheetNo=announce.sheetNo.sheetNo)}}"><button type="button" class="btn btn-info">点击查看表格</button></a>
					{% endif %}
				<div>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>
{% include 'pagination.html' %} 
<!--  -->
{% endblock %} 

<!--  -->
{% block footer%}
<script type="text/javascript">
	function accordion(theId) {
		var obj = document.getElementById(theId);
		if (obj.hasAttribute("hidden"))
			obj.removeAttribute("hidden");
		else
			obj.setAttribute("hidden", "hidden");
	}
</script>
{% endblock %}
